    <!-- About Section -->
    <section id="about" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
              <br/><br/>
              <h2>About</h2>
              <br/>
                <p> Welcome to Quantum Hack</p>
                <p>We are an interdisciplinary team exploiting Quantum Features for Blockchain Structures Technologies.
                </p>
                <br/>
              </div>
        </div>
    </section>
